/* import work sans web font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;800&display=swap');

/* Start Global Rules */
:root {
    --main-color: red;
    --main-text-color: #333;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif
}

.container {
    padding: 0px auto;
    margin: 0px auto
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

/* End Global Rules */



/* Start Navbar */
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

nav .container .logo {
    font-size: 24px;
}

nav .container .logo span {
    color: var(--main-color);
}

nav .links {
    position: relative;
}

nav .links .icon:hover span:nth-child(2) {
    width: 100%;
}

nav .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}

nav .links .icon span {
    background-color: var(--main-text-color);
    height: 2px;
    width: 100%;
    margin-bottom: 5px;
}

nav .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

nav .links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    position: absolute;
    right: 0px;
    top: 30px;
    min-width: 200px;
    transition: .4s;
}

nav .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

nav .links ul li:not(:last-child) a {
    border-bottom: 1px solid rgba(51, 51, 51, 0.192);
}

nav .links ul li:hover > a {
    padding-left: 20px;
    color: var(--main-color);
}

nav .links ul li a {
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    display: block;
    color: var(--main-text-color);
    transition: .3s;
}
/* End Navbar */

