/* import work sans web font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;800&display=swap");

/* Start Global Rules */
:root {
  --main-color: red;
  --main-text-color: #333;
  --secondary-color: #2c4755;
  --section-padding-top: 60px;
  --section-padding-bottom: 60px;
  --section-bg-color: #f6f6f6;
}

::selection {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-header {
  color: #ebeced;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -4px;
  margin: 0;
}

.section-header + p {
  color: #333;
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
}

/* Mobiles */
@media (max-width: 765px) {
  .section-header {
    font-size: 70px;
  }

  .section-header + p {
    margin-top: -25px;
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Navbar */
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav .container .logo {
  font-size: 24px;
}

nav .container .logo span {
  color: var(--main-color);
}

nav .links {
  position: relative;
}

nav .links .icon:hover span:nth-child(2) {
  width: 100%;
}

nav .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}

nav .links .icon span {
  background-color: var(--main-text-color);
  height: 2px;
  width: 100%;
  margin-bottom: 5px;
}

nav .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

nav .links ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  position: absolute;
  right: 0px;
  top: 30px;
  min-width: 200px;
  transition: 0.5s;
  z-index: 9999;
}

nav .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}

nav .links ul li:not(:last-child) a {
  border-bottom: 1px solid rgba(51, 51, 51, 0.192);
}

nav .links ul li:hover > a {
  padding-left: 20px;
  color: var(--main-color);
}

nav .links ul li a {
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  display: block;
  color: var(--main-text-color);
  transition: 0.3s;
}
/* End Navbar */

/* Start Header */
header {
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(10);
  height: calc(100vh - 58px);
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.733);
  top: 0px;
  left: 0px;
}

header .text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  text-align: center;
  transform: translate(-50%, -50%);
  min-width: 100%;
}

header .text h1 {
  margin-top: 0px;
  color: var(--main-color);
}

header .text p {
  line-height: 1.8;
  font-size: 20px;
}
/* End Header */

/* start features sections */
.features {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-bg-color);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.features .container .feature {
  text-align: center;
}

.features .container .feature i {
  color: var(--main-color);
}

.features .container .feature h3 {
  font-weight: 800px;
}

.features .container .feature p {
  font-size: 18px;
  line-height: 1.8;
}
/* end features section */

/* start services section */
.services {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 60px;
}

.services .services-content .service {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .services-content .service {
    flex-direction: column;
    text-align: center;
  }
}

.services .services-content .service i {
  color: var(--main-color);
  flex-basis: 50px;
  font-size: 26px;
}

.services .services-content .service .text-content {
  flex: 1;
}

.services .services-content .service .text-content h3 {
  margin-top: 0px;
}

.services .services-content .service .text-content p {
  color: var(--main-text-color);
  line-height: 1.8;
}

.services .services-content .image {
  text-align: center;
  position: relative;
}

.services .services-content .image::before {
  content: "";
  width: 130px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  position: absolute;
  right: 0px;
  top: -50px;
  z-index: -1;
}

.services .services-content .image img {
  width: 260px;
}

@media (max-width: 1199px) {
  .image-col {
    display: none;
  }
}
/* end services section */

/* start portfolio section */
.portfolio {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-bg-color);
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}

.portfolio .portfolio-content .card img {
  width: 100%;
  height: 300px;
}

.portfolio .portfolio-content .card {
  background-color: #fff;
}

.portfolio .portfolio-content .card .info {
  margin: 0px;
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.8;
}
/* end portfolio section */

/* start About */
.about {
  padding-top: var(--section-padding-top);
  padding-bottom: calc(var(--section-padding-bottom) + 60px);
}

.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 40px);
  top: -40px;
  left: -20px;
  z-index: -1;
}

.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 200px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}

@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}

.about .about-content .image img {
  max-width: 100%;
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* end About */

/* start contact */
.contact {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-bg-color);
}

.contact .info {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  text-align: center;
}

.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}

.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}

@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* end contact */

/* start footer */
footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

footer span {
  font-weight: bold;
  color: var(--main-color);
}

footer a {
  text-decoration: none;
  color: var(--main-color);
}

footer i.fa-heart {
  color: var(--main-color);
}
/* end footer */
